<%# public/customer/edit%>
<div class="container">

 <% if @customer.errors.any? %>
       <div id="error_explanation">
        <h2><%= @customer.errors.count %> errors prohibited this book from being saved:</h2>
        <ul>
        <% @customer.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
       </ul>
      </div>
      <% end %>


  <div class="row">
     <h2>会員情報</h2>
     <table class="table table-hover table-inverse">

      <tbody>
        <%= form_with model: @customer, do |f| %>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        <tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :lastname, class:'form-control name' %> <%= f.text_field :firstname, class:'form-control name' %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :kana_last_name, class:'form-control name' %> <%= f.text_field :kana_first_name, class:'form-control name' %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_code, class:'form-control postcode' %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :addresses, class:'form-control addresses' %></td>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number, class:'form-control phonenumber' %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, class:'form-control email' %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><%= @customer.status%></td>
        </tr>
        <% end %>
      </tbody>
     </table>

       <div class="form-group">
        <%= f.submit "変更を保存", class:"btn btn-secondary" %>
       </div>
    </div>
</div>