
    <h4 bgcolor="#cococo" align="center">マイページ</h4>


       <%= form_with model: @customer do |f| %>
       <div class="form-group" font-weight="bold">
        <%= f.label "登録情報" %>
        <%= link_to "編集する", edit_customer_path, class: 'btn btn-default' %>
       </div>

          <table border="1" width="50%" height="200">
            <tr>
              <td bgcolor="#cococo" width="20%">氏名</td>
              <td width="60%"><%= @customer.lastname %><%= @customer.firstname %></td>
            </tr>
            <tr>
              <td bgcolor="#cococo">カナ</td>
              <td><%= @customer.kana_last_name %><%= @customer.kana_first_name %></td>
            </tr>
            <tr>
              <td bgcolor="#cococo">郵便番号</td>
              <td><%= @customer.postcode %></td>
            </tr>
            <tr>
              <td bgcolor="#cococo">住所</td>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <td bgcolor="#cococo">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
          </table>

　　　　　<div class="field row mb-2">
           <div class="form-group">
            <%= f.label "配送先" %>
            <%= link_to "一覧を見る", addresses_path, class: 'btn btn-default' %>
           </div>
           <div class="form-group">
            <%= f.label "注文履歴" %>
            <%= link_to "一覧を見る", orders_path, class: 'btn btn-default' %>
           </div>
           <% end %>
          </div>

