<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
       <h6 class="d-flex justify-content-left mb-5 bg-secondary p-2 text-black bg-opacity-10">会員一覧</h6>
  </div>

      <table class='table'>
        <thead　class='thead-light'>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%=  link_to admin_customer_path(customer.id),class: 'nav-link' do %>
                <%= customer.lastname %><%= customer.firstname %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted? %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
          <% end %>
          <%= paginate post_images %>
        </tbody>
      </table>
</div>
