<%# admin/customer/show %>
  <div>
     <h2><%= @customer.lastname%><%= @customer.firstname%>さんの会員情報</h2>
     <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        <tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.lastname%><%= @customer.firstname%></td>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.kana_last_name %><%= @customer.kana_first_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
          <% if @customer.is_deleted? %>
            退会
          <% else %>
            有効
          <% end %>
          </td>
        </tr>
      </tbody>
     </table>


       <%= form_with model: @customer do |f| %>
         <div class="form-group">
          <%= f.submit "編集する", class:"btn btn-secondary" %>
         </div>
         <div class="form-group">
          <%= f.submit "注文履歴一覧を見る", class:"btn btn-secondary" %>
         </div>
       <% end %>
  </div>
