<%# admin/customer/show %>
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
       <h6 class="d-flex justify-content-left mb-5 bg-secondary p-2 text-black bg-opacity-10"><%= @customer.name %>さんの会員情報 %></h6>
  </div>

     <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        <tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name%><%= @customer.first_name%></td>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.kana_last_name %><%= @customer.kana_first_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.addresses %></td>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>

      <%= form_with model: @customer do |f| %>
        <tr>
          <td>会員ステータス</td>
          <td><%= f.radio_button :status, true %>
              <%= f.label :status_true,"有効" %>

              <%= f.radio_button :status, false %>
              <%= f.label :status_false, "退会" %>
          </td>
        </tr>
      <% end %>
      </tbody>
     </table>

        <div class="field row mb-4">
          <div class="col-2"></div>
           <%= link_to "編集する", edit_admin_customer_path(@customer), class: "col-2 btn btn-default" %>
          </div>
        <div class="field row mb-4">
          <div class="col-2"></div>
           <%= link_to "注文履歴一覧を見る", admin_orders_path(@customer), class: "col-2 btn btn-default" %>
        </div>

  </div>
