<div class="container">
  <div>

      <h2>注文履歴詳細</h2>


           <table class = "table table-borderless">
            <tr>
            <td>購入者</td>
            <td><%= Customer.find(@order.customer_id).customer_name %></td>
           </tr>
           <tr>
            <td>注文日</td>
            <td><%= l @order.created_at %></td>
           </tr>
           <tr>
            <td>配送先</td>
            <td><%= @order.address %></td>
           </tr>
           <tr>
            <td>支払方法</td>
            <td><%= @order.pay_way_i18n %></td>
           </tr>
           <tr>
            <td>ステータス</td>
            <td>
              <%= form_with model: [:admin, @order] do |f| %>
                  <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"),k] } %>
                  <%= f.submit '更新'%>
              <% end %>
            </td>
           </tr>
           </table>
      <div class = "row">
      <table class='table table-hover table-inverse col-9'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |f| %>
            <tr>
              <td><%= Product.find(f.product_id).name %></td>
              <td><%= f.product_price %></td>
              <td><%= f.amount %></td>
              <td><%= f.amount*f.product_price %></td>
              <td>
                <%= form_with model: [:admin, f] do |form| %>
                    <%= form.select :production_status, OrderDetail.production_statuses.keys.map{|k| [I18n.t("enums.order_detail.production_status.#{k}"),k]} %>
                    <%= form.submit '更新'%>
                <% end %>
              </td>
          <% end %>
        </tbody>
      </table>
      <table class = "col-3 d-flex align-items-end table">
        <tr>
          <td>商品合計</td>
          <td><%= @order.total_price %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= @order.total_price + @order.postage %><td>
        </tr>
      </table>
      </div>



 </div>
</div>
