<div class="container">
  <div class="row">
    <h2>商品一覧</h2>
    <div class='col-lg-10 text-right'>
      <%= link_to "＋", new_admin_product_path, class: 'btn btn-light border-right border-bottom rounded-circle p-◯' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class='table'>
        <thead class='thead-light'>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th></th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td>
              <%=  link_to admin_product_path(product.id), class: 'text-dark' do %>
                <%= product.name %>
              <% end %>
            </td>
            <td><%= product.price.to_s(:delimited) %></td>
            <td>
              <%= @genres.find(product.genre_id).name %>
            </td>
            <td>
              <% if product.is_active? %>
                <td class='text-success font-weight-bold'>販売中</td>
              <% else %>
                <td class='text-secondary font-weight-bold'>販売停止中</td>
              <% end %>
            </td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="col-md-6"></div>
      <%= paginate @products %>
  </div>
</div>


