<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag @product.get_product_image, size:'200x200' %>
    </div>
    <div class="col-sm-7">
      <table>
        <tr>
          <td>商品名</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @genres.find(@product.genre_id).name %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td>
            <%= @product.add_tax_price.to_s(:delimited) %>円(<%= @product.price.to_s(:delimited) %>)円
          </td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @product.is_active? %>
            <div class='text-success font-weight-bold'>販売中</div>
            <% else %>
            <div class='text-secondary font-weight-bold'>販売停止中</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <%=  link_to "編集する", edit_admin_product_path(@product.id), class: 'btn btn-lg btn-success col-sm-3 mx-auto' %>
  </div>
</div>

        <!--<div class="col-lg-7">-->
          <!--<div>商品名<#%= @product.name %></div>-->
          <!--<div>商品説明<#%= @product.description %></div>-->
          <!--<div>-->
          <!--  ジャンル-->
          <!--  <#%= @genres.find(@product.genre_id).name %>-->
          <!--</div>-->
          <!--<div>税込価格(税抜価格)<#%= @product.add_tax_price %>(<#%= @product.price %>)円</div>-->
          <!--<div>販売ステータス-->
          <!--<#% if @product.is_active? %>-->
          <!--<div class='text-success font-weight-bold'>販売中</div>-->
          <!--<#% else %>-->
          <!--<div class='text-secondary font-weight-bold'>販売停止中</div>-->
          <!--<#% end %>-->
          <!--</div>-->
          <!--<#%=  link_to "編集する", edit_admin_product_path(@product.id), class: 'btn btn-lg btn-success' %>-->
          <!--<button type="button" class="btn btn-success">編集</button>-->




