<h2>商品詳細</h2>
<%= image_tag @product.get_product_image, size:'400x400'%>

    <div>商品名<%= @product.name %></vif>
    <div>商品説明<%= @product.description %></div>
    <div>税込価格<%= @product.price %>円</div>
    <div>
      ジャンル
      <%= @genres.find(@product.genre_id).name %>
    </div>
    <div>
      <% if @product.is_active? %>
        <div>販売中</div>
      <% else %>
        <div>販売停止中</div>
      <% end %>
    </div>

<%=  link_to edit_admin_product_path(@product.id),class: 'nav-link text-light' do %>
  <button type="button" class="btn btn-light">編集</button>
<% end %>
